<%- include('header') %>

<body class="bg-gray-900 text-white flex flex-col min-h-screen">
  <%- include('navbar') %>
  <div class="container mx-auto py-8 flex-grow">
    <h1 class="text-4xl font-bold text-center mb-8">Edit Movie</h1>
    <form action="/movies/edit/<%= movie.MovieID %>" method="POST" class="max-w-md mx-auto bg-gray-800 p-6 rounded-md">
      <div class="mb-4">
        <label for="Title" class="mb-1 block text-white">Title</label>
        <input type="text" id="Title" name="Title" value="<%= movie.Title %>" class="w-full px-3 py-2 bg-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
      <div class="mb-4">
        <label for="Genre" class="mb-1 block text-white">Genre</label>
        <input type="text" id="Genre" name="Genre" value="<%= movie.Genre %>" class="w-full px-3 py-2 bg-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
      <div class="mb-4">
        <label for="ReleaseDate" class="mb-1 block text-white">Release Date</label>
        <input type="date" id="ReleaseDate" name="ReleaseDate" value="<%= moment(movie.ReleaseDate).format('YYYY-MM-DD') %>" class="w-full px-3 py-2 bg-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
      <div class="mb-4">
        <label for="Rating" class="mb-1 block text-white">Rating</label>
        <input type="number" step="0.1" id="Rating" name="Rating" value="<%= movie.Rating %>" class="w-full px-3 py-2 bg-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>

      <div class="mt-4">
        <button type="submit" class="bg-green-500 hover:bg-green-700 text-white px-4 py-2 rounded-md">Update Movie</button>
        <a href="/movies" class="ml-2 bg-gray-500 text-white px-4 py-2 rounded-md">Cancel</a>
    </div>
    </form>
  </div>
  <%- include('footer') %>
</body>
</html>
