<%- include('header') %>

<body class="bg-gray-900 text-white flex flex-col min-h-screen">
  <%- include('navbar') %>
  <div class="container mx-auto py-8 flex-grow">
    <h1 class="text-4xl font-bold mb-8 text-center">Movies</h1>
    <div class="flex justify-between mb-4">
      <h2 class="text-xl font-bold">Current Movies</h2>
      <a href="/movies/add" class="bg-green-500 hover:bg-green-700 text-white px-4 py-2 rounded-md">Add Movie</a>
    </div>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-gray-800 border border-gray-700">
        <thead>
          <tr>
            <th class="py-2 px-4 border-b border-gray-700 text-center">MovieID</th>
            <th class="py-2 px-4 border-b border-gray-700 text-center">Title</th>
            <th class="py-2 px-4 border-b border-gray-700 text-center">Genre</th>
            <th class="py-2 px-4 border-b border-gray-700 text-center">Release Date</th>
            <th class="py-2 px-4 border-b border-gray-700 text-center">Rating</th>
            <th class="py-2 px-4 border-b border-gray-700 text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% movies.forEach(function(movie) { %>
          <tr>
            <td class="py-2 px-4 border-b border-gray-700 text-center">
              <%= movie.MovieID %>
            </td>
            <td class="py-2 px-4 border-b border-gray-700 text-center">
              <%= movie.Title %>
            </td>
            <td class="py-2 px-4 border-b border-gray-700 text-center">
              <%= movie.Genre %>
            </td>
            <td class="py-2 px-4 border-b border-gray-700 text-center">
              <%= moment(movie.ReleaseDate).format('ddd MMM DD YYYY') %>
            </td>
            <td class="py-2 px-4 border-b border-gray-700 text-center">
              <%= movie.Rating %>
            </td>
          

            <td class="py-2 px-4 border-b border-gray-700 text-center">
              <a href="/movies/edit/<%= movie.MovieID %>" class="bg-yellow-500 text-white px-4 py-1 rounded-md mr-2">Edit</a>
              <a href="/movies/delete/<%= movie.MovieID %>" class="bg-red-500 text-white px-4 py-1 rounded-md">Delete</a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
  <%- include('footer') %>
</body>
</html
